/* Add a black background color to the top navigation */

nav {
  background-color: #EFEEEE;
  width: 100%;
  height: 50px;
  border-top: 2px solid rgba (255, 255, 2555, .2);
  border-bottom: 1px solid rgba (255, 255, 2555, .2);
  position: sticky;
  top: 0;
  box-shadow: 6px 6px 10px #E5E5E5;
}

/* Style the links inside the navigation bar */

nav ul {
  display: flex;
  margin: 0;
  padding: 0 100px;
  text-align: auto;
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: #3e3e3e;
  padding: 0 20px;
  text-decoration: none;
  font-family: Avenir medium;
  line-height: 50px;
}

/* Change the color of links on hover */

.topnav a:hover {
  color: #01B5CE;
}

/* Add a color to the active/current link */

nav a.active {
  color: #01B5CE;
}

.background {
  color: #EFEEEE
}

.block-item {
  background-color: #EFEEEE;
  box-shadow: 6px 6px 10px #E5E5E5, -6px -6px 16px #f5f5f5;
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  max-width: 1120;

}

.block-item-content-container {
  padding-left: 70px;
  margin: auto 0;
}

.block-item-image-container {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
}

.block-item-image-container.first {
  max-height: 383px;
  background-size: 383px 324px;
  margin-right: 45px;
  background-position: right bottom;
}

.block-item-image-container.second {
  max-height: 383px;
  background-size: 383px 324px;
  margin-right: 45px;
  background-position: left bottom;
  
}

.block-item-content-container.second {
  padding-left: 500px;
  padding-right: 70px;
  margin: auto 0;
}


.bg-img2 {
  background-image: url("img_2.png");
  /* Control the height of the image */
  height: 380px;
  /* Center and scale the image nicely */
  max-width: 100%;
  background-position: left bottom;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: 383px 324px;
}

.bg-img3 {
  background-image: url("img_3.png");
  /* Control the height of the image */
  height: 300px;
  /* Center and scale the image nicely */
  max-width: 100%;
  background-position: bottom right;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 420px px;
}

.card-ribbon {
  display: flex;
  margin-right: 70px;
}

.card-ribbon.space-between {
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  background-color: #fff;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
  max-width: 400px;
  border-width: 0;
}

.card-inner-container {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.card-button {
  background-color: #fff;
  height: 82px;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 70px;
  max-width: 234px;
  border-width: 0;
  display: flex;
  outline: none;
}

.currently-selected-card {
  display: block;
  border-width: 2px;
  border-color: #01B5CE;
}

.currently-selected-button {
  border-width: 2px;
  border-color: #01B5CE;
}

.card-details {
  display: none;
  font-family: avenir;
}

.card-details-label {
  font-size: 16px;
  font-family: avenir;
  margin: auto;
  margin-left: 0;
  white-space: nowrap;
}

.icon-label-area {
  display: flex;
  justify-content: space-between;
}

.label-number {
  font-size: 40px;
  font-family: avenir next condensed;
  color: #E8505B;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  border-radius: 0;
  border-width: 0;
  /* box-align:auto; */
}

.label-text {
  font-size: 16px;
  font-family: avenir;
  padding-right: 15px;
  margin: auto;
  color: #000000;
  font-weight: heavy;
  border-radius: 0;
  border-width: 0;
  vertical-align: middle;
}

h1 {
  font-family: Avenir;
  font-size: 23px;
}

h2 {
  font-family: Avenir;
  font-size: 23px;
}


p {
  font-family: Avenir;
  font-size: 16px;
  line-height: 20pt;
}


ul {
  font-family: Avenir;
  font-size: 16px;
  line-height: 20pt;
}

ul.left-align {
  padding-left: 70px;
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 50px;
}

.button1 {
  background-color: #f5f5f5;
  padding: 15px 30px;
  border-radius: 6px;
  border-width: 2px;
  border-color: #01B5CE;
  font-family: Avenir heavy;
  font-size: 12px;
  color: #01B5CE;
  text-transform: uppercase;
  font-weight: medium;
}

.button1:hover {
  background-color: #01B5CE;
  border-color: #fff;
  color: #fff;
}

.icon {
  /* padding-left:20px;
  padding-top:20px; 
  margin-top:20px; */
}

a {
  font-family: avenir medium;
  font-size: 14px;
  color: #3E3E3E;
  font-weight: heavy;
}

a:hover {
  color: #01B5CE;
}

.find-more-button {
  margin-top: 30px;
}