/* Add a black background color to the top navigation */
nav {
    background-color: #EFEEEE;
    width:100%; 
    height: 50px;
    border-top: 2px solid rgba (255,255,2555,.2);
    border-bottom: 1px solid rgba (255,255,2555,.2);
    position: sticky;
    top:0;
    box-shadow: 6px 6px 10px #E5E5E5;
}

  
/* Style the links inside the navigation bar */
nav ul {
    display: flex;
    margin:0;
    padding:0 100px;
    text-align: auto;
    float:right;  
    
}

nav ul li {
  list-style: none;

}

nav ul li a {
  display: block;
  color: #3e3e3e;
  padding: 0 20px; 
  text-decoration: none;
  font-family: Avenir medium;
  line-height: 50px;
}

  
/* Change the color of links on hover */
  .topnav a:hover {
    color: #01B5CE;
    
}
  
/* Add a color to the active/current link */
nav a.active {
    color: #01B5CE;
    
}
  
.background { 
      color:#EFEEEE
}
.container {
    background-color: #EFEEEE;
    box-shadow: 6px 6px 10px #E5E5E5, -6px -6px 16px #f5f5f5;
    border-radius: 10px;
    
}

.container.middle { 
  padding-top: 40px;
  padding-bottom: 20px;
  margin: auto;      
  margin-top: 100px;
  max-width: 700px;
  height: 400px;
}

.container.left{
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 100px; 
  margin-right: 90px;
  margin-left: -200px; 
  max-width: 1120px;
  height: 400px;
}

.container.right-auto {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-right: 90px;
  margin-right: -200px;
  margin-top: 100px;
  max-width: 1120px;
  height: auto;
}

.card-space {
  display: flex;
  margin-right: 70px;
}
.card-space.space-between {
  justify-content: space-between;
  margin-bottom:50px;
}

.card {
  background-color: #fff;
  height: 380px;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  max-width: 400px;
  border-width: 0;
}

.card-button { 
  background-color: #fff;
  height: 82px;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  margin-top: 20px;
  margin-left:70px;
  max-width: 234px;
  border-width: 0;
  display: flex;
}

.currently-selected-card {
  display: block;
  border-width: 2px;
  border-color: #01B5CE;

}
.currently-selected-button {
  border-width: 2px;
  border-color: #01B5CE;
}

.card-details {
  display: none;
  font-family: avenir;
}

.card-details-label {
  font-size:16px;
  font-family: avenir;
  margin: auto;
  margin-left: 0;
  white-space:nowrap;
}

.icon-label-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.label-number {
  font-size:40px;
  font-family: avenir next condensed;
  color: #E8505B;
  margin-left: 15px; 
  margin-right: 15px; 
  font-weight: bold;
  border-radius: 0;
  border-width: 0;
  /* box-align:auto; */
}

.label-text {
  font-size:16px;
  font-family: avenir;
  padding-right: 15px;
  margin: auto; 
  color: #000000;
  font-weight: heavy;
  border-radius: 0;
  border-width: 0;
  vertical-align: middle;
}



h1 {
    padding-left: 70px;
    padding-top: 20px;
    font-family: Avenir;
    font-size: 23px;
    
}
h2 {
  font-family: Avenir;
  font-size: 23px;
}

h2.left {
  padding-left: 70px;
  padding-top: 20px;
}

h2.right {
  text-align: left;
  margin-right: 70px;
  margin-left: 415px;
  margin-top: 20px;
  margin-bottom: 5px;
}

p {
  font-family: Avenir;
  font-size: 16px;
  line-height:20pt;
}

p.left-align {
  padding-left: 70px;
  padding-top: 10px;
  padding-right: 70px;
}

p.right-align {
  margin-left: 415px;
  margin-right:70px;
  margin-top:30px;
}



ul {
  font-family: Avenir;
  font-size: 16px;
  line-height:20pt;
}

ul.left-align {
  padding-left: 70px;
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 50px;
}

.button { 
  padding-left: 70px;
  padding-top: 10px;
}

.button1 {
  margin-right: 15px;
  background-color: #f5f5f5;
  padding: 15px 30px;
  border-radius: 6px;
  border-width: 2px;
  border-color: #01B5CE;
  font-family: Avenir heavy;
  font-size: 12px;
  color: #01B5CE;
  text-transform: uppercase;
  font-weight: medium;
}

.button1:hover {
  background-color: #01B5CE;
  border-color: #fff;
  color: #fff;
  
}

.icon {
  /* padding-left:20px;
  padding-top:20px; 
  margin-top:20px; */
}

.bg-img {
  background-image: url("img_1.png");

  /* Control the height of the image */
  height: 400px;

  /* Center and scale the image nicely */
  max-width: 100%;
  background-position: right bottom;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 383px 324px; 
}

.bg-img2 {
  background-image: url("img_2.png");

  /* Control the height of the image */
  height: 380px;

  /* Center and scale the image nicely */
  max-width: 100%;
  background-position: left bottom;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: 383px 324px; 
}

.bg-img3 {
  background-image: url("img_3.png");

  /* Control the height of the image */
  height: 300px;

  /* Center and scale the image nicely */
  max-width: 100%;
  background-position:bottom right;
  margin-right:15px;
  background-repeat: no-repeat;
  background-size: 420px px;
}

a {
  font-family: avenir medium;
  font-size: 14px;
  color: #3E3E3E;
  font-weight: heavy;
  
}

a:hover {
  color: #01B5CE; 
}

.findmore {
  padding-left: 70px;
  padding-top: 20px;
}

   