/* Add a black background color to the top navigation */

nav {
  background-color: #EFEEEE;
  width: 100%;
  height: 50px;
  border-top: 2px solid rgba (255, 255, 2555, .2);
  border-bottom: 1px solid rgba (255, 255, 2555, .2);
  position: sticky;
  top: 0;
  box-shadow: 6px 6px 10px #E5E5E5;
  z-index: 1;
}

/* Style the links inside the navigation bar */

nav ul {
  display: flex;
  margin: 0;
  padding: 0 50px;
  text-align: auto;
  float: right;
}

@media (max-width:500px) {
  nav ul {
    padding: 0 0px;
  }
}

nav ul li {
  /* flex:2; */
  list-style: none;
}

nav ul li a {
  /* display: block; */
  color: #3e3e3e;
  padding: 0 20px;
  text-decoration: none;
  font-family: Avenir medium;
  line-height: 50px;
}

/* Change the color of links on hover */

.topnav a:hover {
  color: #01B5CE;
}

/* Add a color to the active/current link */

nav a.active {
  color: #01B5CE;
}

.background {
  color: #EFEEEE
}

.block-item {
  background-color: #EFEEEE;
  box-shadow: 6px 6px 10px #DEDEDE, -6px -6px 16px #f5f5f5;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  max-width: 1000px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  padding: 50px;
}

.block-item-inner-container {
  object-fit: contain;
  display: flex;
  /* padding: 70px; */
}

.block-item-content-container {
  margin: auto 0;
  width: 100%;
}

.block-item-content-container.fixed {
  max-width: 500px;
  margin-right: 40px;
}

.block-item-image-container {
  background-repeat: no-repeat;
  height: 60%;
  object-fit: contain;
}

@media (min-width: 500px) {
  .block-item-image-container {
    display: flex;
  }
}

.block-item-image-container.first {
  max-height: 460px;
  background-size: 460px 414px;
  background-position: right bottom;
  background-image: url(img_6.png)
}

@media (max-width: 1000px) {
  .block-item-image-container.first {
    background-image: none;
  }
}

.block-item-image-container.second {
  /* max-height: 500px; */
  background-size: 500px 400px;
  background-position: right bottom;
  background-image: url(img_2.png);
}

@media (max-width: 1000px) {
  .block-item-image-container.second {
    background-image: none;
  }
}

.block-item-image-container.third {
  max-height: 404px;
  background-size: 601px 376px;
  background-position: right bottom;
}

.block-item-image-container.forth {
  /* max-height: 500px; */
  background-size: 500px 400px;
  background-position: right bottom;
  background-image: url(img_4.png)
}

@media (max-width: 1000px) {
  .block-item-image-container.forth {
    background-image: none;
  }
}

.block-item-space-between {
  justify-content: space-between;
  margin: auto;
  display: flex;
}

.block-item-space-between2 {
  justify-content: space-between;
  margin: auto;
  display: flex;
}

.block-item-content-container2 {
  margin: auto 0;
  width: 100%;
}

@media(min-width:1000px) {
  .block-item-space-between2 {
    display: flex;
  }
  .block-item-content-container2 {
    flex: 2;
  }
  .video {
    flex: 2;
  }
}

@media(max-width:1000px) {
  .block-item-space-between2 {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .video {
    flex-basis: 100%;
    margin-top: 40px;
  }
}

.block-item-content-space-between {
  justify-content: space-between;
  display: flex;
}

.bg-img2 {
  height: 300px;
  width: 100%;
  max-width: 100%;
  margin-right: 40px;
  margin-left: -50px;
  background-position: bottom left;
}

.card-ribbon {
  display: flex;
}

.card-ribbon.space-between-row {
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  margin-top: 20px;
  flex-basis: 30%;
  border-width: 0;
}

@media (max-width: 1100px) {
  .card-ribbon.space-between-row {
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .card {
    flex-basis: 100%;
    width: 100%;
  }
}

.card-ribbon.space-between-column {
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 40px;
}

.block-item-details {
  flex-basis: 3;
}

.card-inner-container {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width:500px) {
  .news-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.article {
  flex-basis: 100%;
}

.article-details {
  flex-basis: 100%;
}

}

.card-button {
  background-color: #fff;
  height: 82px;
  width: 100%;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  margin-top: 20px;
  border-width: 0;
  display: flex;
  outline: none;
  flex-basis: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (min-width:700px) {
  .block-item-content-space-between {
    display: flex;
  }
  .card-ribbon.space-between-column {
    flex: 1;
  }
  .block-item-details {
    flex: 3;
  }
}

@media (max-width:700px) {
  .card-ribbon.space-between-column {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .card-button {
    width: 100%;
  }
}

.card-button:hover {
  transform: scale(1.05);
}

.arrow-icon {
  padding-left: 10px;
  transition: padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.arrow-icon:hover {
  padding-left: 15px;
}

.currently-selected-card {
  /* display: block; */
  border-width: 2px;
  border-color: #01B5CE;
}

.currently-selected-button {
  border-width: 2px;
  border-color: #01B5CE;
}

.card-details {
  display: none;
  font-family: avenir;
  margin-left: 30px;
}

@media(max-width:700px) {
  .card-details {
    margin-left: 0;
  }
}

.card-details-label {
  font-size: 16px;
  font-family: avenir;
  margin: auto;
  margin-left: 0;
  white-space: nowrap;
}

.icon-label-area {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .block-item-content-space-between {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-details {
    flex-basis: 100%;
  }
}

.label-number {
  font-size: 40px;
  font-family: avenir next condensed;
  color: #E8505B;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  border-radius: 0;
  border-width: 0;
  /* box-align:auto; */
}

.label-text {
  font-size: 16px;
  font-family: avenir;
  padding-right: 10px;
  font-weight: bold;
  margin: auto;
  color: #000000;
  font-weight: heavy;
  border-radius: 0;
  border-width: 0;
  vertical-align: left;
}

h1 {
  font-family: Avenir;
  font-size: 30px;
}

h2 {
  font-family: Avenir;
  font-size: 30px;
}

h3 {
  font-family: Avenir;
  font-size: 27px;
  color: #EFEEEE;
}

h4 {
  font-family: Avenir;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

p {
  font-family: Avenir;
  font-size: 16px;
  line-height: 20pt;
}

ul {
  font-family: Avenir;
  font-size: 16px;
  line-height: 30pt;
  padding: 0;
  margin-left: 15px;
}

.button-main {
  background-color: #f5f5f5;
  padding: 15px 30px;
  margin-right: 15px;
  border-radius: 6px;
  border-width: 2px;
  border-color: #01B5CE;
  font-family: Avenir heavy;
  font-size: 12px;
  color: #01B5CE;
  text-transform: uppercase;
  font-weight: medium;
  margin-top: 10px;
}

.button-main:hover {
  background-color: #01B5CE;
  border-color: #fff;
  color: #fff;
}

.icon {
  width: 50px;
  /* transition: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; */
}

/* .icon:hover {
  width: 55px;
} */

a {
  font-family: avenir medium;
  font-size: 14px;
  color: #3E3E3E;
  font-weight: heavy;
}

a:hover {
  color: #01B5CE;
}

.find-more-button {
  margin-top: 30px;
}

.map-container {
  width: 100%;
  height: 400px;
  /* margin-bottom: 60px; */
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.map-container2 {
  width: 100%;
  height: 400px;
  /* margin-bottom: 60px; */
}

#map2 {
  height: 400px;
  width: 100%;
}

@media(max-width:800px) {
  .block-item-inner-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .map-container2 {
    flex-basis: 100%;
    margin-top: 20px;
  }
}

.video {
  width: 100%;
  height: 315px;
}

@media(max-width:500px) {
  .block-item {
    margin: 15px;
    padding: 30px;
  }
}

.comments-carousel {
  /* box-shadow: 6px 6px 10px #E5E5E5; */
  border-radius: 10px;
  margin-top: 40px;
  max-height: 400px;
  width: 100%;
  border-width: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}

.comments-carousel::-webkit-scrollbar {
  display: none;
}

.comment {
  background-color: #fff;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 200px;
  width: 400px;
  border-width: 0;
  display: inline-block;
  align-items: flex-start;
}

.currently-selected-comment {
  border-width: 2px;
  border-color: #01B5CE;
}

.comment-details {
  margin: 20px;
  height: 160px;
  flex-direction: column;
  justify-content: space-between;
}

.article-details {
  margin: 20px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.comment-text {
  width: 300px;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.comment-icon-name {
  vertical-align: middle;
  display: inline-flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.comment-p-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  color: #727272;
  font-size: 14;
  position: relative;
  margin: 0;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
}

.article-image {
  /* height: 280px;
  width: 280px; */
  border-radius: 5px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.article-description {
  /* width: 280px; */
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.article-author {
  font-size: 16px;
  font-family: avenir;
  padding-right: 10px;
  font-weight: bold;
  color: #000000;
  font-weight: heavy;
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.article-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 380px;
}

.title-author {
  /* width: 280px; */
  word-break: break-word;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-title:hover {
  color: #01B5CE;
}

.article-title {
  font-family: Avenir;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

footer {
  background: #263238;
  margin: auto;
  margin-top: 50px;
  padding: 0px;
  height: 200px;
}

.footer-text {
  color: #fff;
  font-size: 16px;
  font-family: Avenir;
}

.footer-information {
  padding: 40px;
}

.article {
  background-color: #fff;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  height: 700px;
  /* flex-basis: 30%; */
  border-width: 0;
  display: inline-block;
  align-items: flex-start;
  margin-bottom: 40px;
}

@media (min-width: 900px) {
  .article {
    flex-basis: 30%;
  }
}

@media (max-width: 900px) {
  .article {
    flex-basis: 40%;
  }
}

@media (max-width: 600px) {
  .article {
    flex-basis: 100%;
  }
}

.promotion-banner {
  background-color: #263238;
  box-shadow: 6px 6px 10px #E5E5E5;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-width: 0;
  margin-left: 20px;
}

.promotion-banner-content-container {
  margin: 40px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-container-space-between {
  /* padding-left: 70px;
  margin: auto 0; */
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
  width: 600px;
}

@media(min-width:800px) {
  .team-member-container {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    justify-content: space-between;
  }
  .team-member-image {
    flex: 3;
  }
  .team-member {
    flex: 2;
  }
}

.team-member-image {
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.team-member-image:hover {
  transform: scale(1.1);
  filter: none;
}

.team-member-name {
  font-size: 16px;
  font-family: avenir;
  padding-top: 10px;
  font-weight: bold;
  color: #000000;
}

.team-member-pro {
  font-size: 14px;
  font-family: avenir;
  color: #000000;
  margin-top: -15px;
}

.search-input {
  font-family: Avenir;
  font-size: 14px;
  color: #727272;
  border-width: 0;
  outline: none;
}

.email-input {
  font-family: Avenir;
  font-size: 14px;
  color: #727272;
  border-width: 0;
  outline: none;
}

.feedback-input {
  font-family: Avenir;
  font-size: 14px;
  color: #727272;
  border-width: 0;
  outline: none;
}

.search {
  background-color: #fff;
  border-radius: 5px;
  /* width: 400px; */
  border-width: 2px;
  border-color: #727272;
  padding: 15px;
  height: 20px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.feedback {
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  height: auto;
  border-width: 2px;
  border-color: #727272;
  padding: 15px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 20px;
}

.email {
  background-color: #fff;
  border-radius: 5px;
  width: 200px;
  border-width: 2px;
  border-color: #727272;
  padding: 15px;
  height: 20px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 20px;
}

.Search-TitleDiv {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

@media(max-width:500px) {
  .Search-TitleDiv {
    flex-wrap: wrap;
  }
  .search {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width:700px) {
  .block-item-space-between {
    display: flex;
  }
  .block-item-content-container {
    flex: 3;
  }
  .promotion-banner {
    flex: 2;
  }
}

@media (max-width:1100px) {
  .block-item-space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .promotion-banner {
    margin-left: 0;
    width: 100%;
  }
  .promotion-banner-content-container {
    height: 70%;
  }
}

@media (max-width: 700px) {
  .block-item-content-container {
    flex-wrap: wrap;
  }
  .team-container-space-between {
    flex-wrap: wrap;
    width: 100%;
  }
  .team-member-container {
    flex-basis: 50%;
    justify-content: space-between;
  }
  .team-member-image {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width:500px) {
  .team-member-container {
    flex-basis: 100%;
  }
  .promotion-banner {
    margin-left: 0;
  }
  .team-member-image {
    margin-top: 20px;
  }
}

.search-icon {
  margin: auto 0;
  height: 17px;
  width: 17px;
}

.hide {
  display: none;
}

.promotion-banner-icon {
  width: 80px;
  height: 80px;
  transition: width 2s, height 2s, transform 2s;
}

.promotion-banner-icon:hover {
  width: 120px;
  height: 120px;
  transform: rotate(360deg);
}